# make CapsLock behave like Ctrl:
setxkbmap -option ctrl:nocaps

# make short-pressed Ctrl behave like Escape:
# xcape -e 'Control_L=Escape'

# Faster key repeat and delay
xset r rate 350 40

# monitors
xrandr --output VGA-1 --mode 1920x1080
xrandr --output VGA-2 --mode 1920x1080

# background
nitrogen --restore &

# emacs daemon
emacs --daemon &

# compositor
picom -b
